* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    background-image: linear-gradient(to bottom, #eeeeee,#ffffff);
    background-attachment:fixed;
    margin:0;
}


header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, serif;
}


h1 {
    line-height: 140%;
    padding: .5rem;
    background-image: url('./images/utahtechlogo.svg');
    padding-left: 1em;
    background-repeat: no-repeat;
    background-position: top right;
    margin:0;
    background-origin:content-box;
}
nav ul {
    margin:0;
    padding:0;
    display:flex;
    flex-flow:nowrap;
    list-style-type:none;
}
nav ul li {
    width:100%;
}

nav {
    font-weight: bold;
    background-color: #424242;
    padding:0;
    margin:0;
    position:sticky;
    top:0;
}
nav{
    grid-row: 2 / 3;
    grid-column: 2 / 8;
}


h2 {
    color: #424242;
    font-family: Georgia, serif;
}


dt {
    color: #003058;
    font-weight: bold;
}


.ut {
    color: #BA1C21;
    font-weight: bold;
}


footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
}


#wrapper {
    display:grid;
    grid-auto-rows: minmax(0, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}
#homehero {
    background-size: cover;
    background-position: center;
    height: 400px;
}
#studenthero {
    background-size: cover;
    background-position: center;
    height: 400px;
}
h3 {
    color: #003058;
}
main{
    padding-left: 2rem;
    padding-right: 2rem;
}
#homehero{
    background-image: url('./images/homehero.jpg');
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#studenthero{
    background-image: url('./images/studenthero.jpg');
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#facultyhero{
    background-image: url('./images/facultyhero.jpg');
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem 0rem;
    display: block;
    text-align: center;

}
header{
    grid-column: 2 / 8;
    grid-row: 2/ -2;
}
#homehero, #studenthero, #facultyhero{
    grid-column: 2 / 8;
    grid-row: 3 / 4;
}
main{
    grid-column: 2 / 8;
    grid-row: 4 / 5;
    background-color: #ffffff;
}
footer{
    grid-column: 2 / 8;
    grid-row: 5 / 6;
}
header a {
    color: #FFFFFF;
    text-decoration: none;
}
main img {
    float: right;
    padding-left: 2rem;
}
nav a:hover {
    background-color: #BA1C21;
}
