#wrapper {
    display:grid;
    grid-auto-rows: minmax(0, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}
header {
    background-color: red;
    height: 75px;
    grid-row: 1 / 2;
    grid-column:2 / 8;
}
nav {
    background-color :aqua;
    height:30px;
    grid-row: 2 / 3;
    grid-column:2 / 8;
}
#hero {
    background-color: yellow;
    height:300px;
    grid-row: 3 / 4;
    grid-column:2 / 8;
}
main{
    background-color: #49498A;
    height: 50px;
    grid-row: 4 / 5;
    grid-column:2 / 8;
}
footer {
    background-color: lightblue;
    height:700px;
    grid-row: 5 / 6;
    grid-column:2 / 8;
    
}
#copyright {
    background-color: #49498A;
    height: 50px;
    grid-row: 6 / 7;
    grid-column:2 / 8;
}