
body {
    background-color: #FFFFFF;
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    background-image: linear-gradient(to bottom, #eeeeee,#ffffff);
    background-attachment:fixed;

}


header {
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, serif;
}


h1 {
    line-height: 140%;
    padding: .5rem;
    background-image: url('./images/utahtechlogo.svg');
    padding-left: 1em;
    background-repeat: no-repeat;
    background-position: top right;
    margin-bottom:0;
    background-origin:content-box;
}


nav {
    font-weight: bold;
    background-color: #F3F3F3;
    padding: .5rem .5rem .5rem 2rem;
}


h2 {
    color: #424242;
    font-family: Georgia, serif;
}


dt {
    color: #003058;
    font-weight: bold;
}


.ut {
    color: #BA1C21;
    font-weight: bold;
}


footer {
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
}


#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 0px 3px 3px rgba(66,66,66,0.3);
}
#homehero {
    background-size: cover;
    background-position: center;
    height: 400px;
}
#studenthero {
    background-size: cover;
    background-position: center;
    height: 400px;
}
h3 {
    color: #003058;
}
main{
    padding-left: 2rem;
    padding-right: 2rem;
}
#homehero{
    background-image: url('./images/homehero.jpg');
    height: 300px;
    background-size: cover;
    

}